footer
  .container.text-center
    p.float-left © 2018 BounceBack, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/nandiarnab/bounceback') BounceBack GitHub Project
      li.list-inline-item
        a(href='https://github.com/nandiarnab/bounceback/issues') Issues
