extends layout

block content
  h1 BounceBack Application Database
  p.lead An application to manage learners, learning aims and reporting.
  hr
  .row
    .col-md-6
      h2 Learner Management
      p Manage learners - find, create, update and delete learners.
      p
        a.btn.btn-raised(href='/learner/home', role='button') View details »
    .col-md-6
      h2 Case Management
      p Manage available learning aims, including awarding bodies, modules, and funding.
      p
        a.btn.btn-raised(href='/case/home', role='button') View details »
    .col-md-6
      h2 Outcomes Management
      p Assign learners to learning aims and track attendance.
      p
        a.btn.btn-raised(href='/outcomes/home', role='button') View details »
    .col-md-6
      h2 Reporting
      p View reports for training, case management and outcomes. 
      p
        a.btn.btn-raised(href='/reporting/home', role='button') View details »