doctype html
//
  Dopetrope by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Dopetrope by HTML5 UP
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/main.css')
#page-wrapper
  // Header
  section#header
    // Logo
    h1
      a(href='index.html') Dopetrope
    // Nav
    nav#nav
      ul
        li.current
          a(href='index.html') Home
        li
          a(href='#') Dropdown
          ul
            li
              a(href='#') Lorem ipsum dolor
            li
              a(href='#') Magna phasellus
            li
              a(href='#') Etiam dolore nisl
            li
              a(href='#') Phasellus consequat
              ul
                li
                  a(href='#') Magna phasellus
                li
                  a(href='#') Etiam dolore nisl
                li
                  a(href='#') Veroeros feugiat
                li
                  a(href='#') Nisl sed aliquam
                li
                  a(href='#') Dolore adipiscing
            li
              a(href='#') Veroeros feugiat
        li
          a(href='left-sidebar.html') Left Sidebar
        li
          a(href='right-sidebar.html') Right Sidebar
        li
          a(href='no-sidebar.html') No Sidebar
    // Banner
    section#banner
      header
        h2 Howdy. This is Dopetrope.
        p A responsive template by HTML5 UP
    // Intro
    section#intro.container
      .row
        .col-4.col-12-medium
          section.first
            i.icon.featured.fa-cog
            header
              h2 Ipsum consequat
            p
              | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
        .col-4.col-12-medium
          section.middle
            i.icon.featured.alt.fa-flash
            header
              h2 Magna etiam dolor
            p
              | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
        .col-4.col-12-medium
          section.last
            i.icon.featured.alt2.fa-star
            header
              h2 Tempus adipiscing
            p
              | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
      footer
        ul.actions
          li
            a.button.large(href='#') Get Started
          li
            a.button.alt.large(href='#') Learn More
  // Main
  section#main
    .container
      .row
        .col-12
          // Portfolio
          section
            header.major
              h2 My Portfolio
            .row
              .col-4.col-6-medium.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic02.jpg' alt='')
                  header
                    h3 Ipsum feugiat et dolor
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                  footer
                    ul.actions
                      li
                        a.button.alt(href='#') Find out more
              .col-4.col-6-medium.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic03.jpg' alt='')
                  header
                    h3 Sed etiam lorem nulla
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                  footer
                    ul.actions
                      li
                        a.button.alt(href='#') Find out more
              .col-4.col-6-medium.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic04.jpg' alt='')
                  header
                    h3 Consequat et tempus
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                  footer
                    ul.actions
                      li
                        a.button.alt(href='#') Find out more
              .col-4.col-6-medium.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic05.jpg' alt='')
                  header
                    h3 Blandit sed adipiscing
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                  footer
                    ul.actions
                      li
                        a.button.alt(href='#') Find out more
              .col-4.col-6-medium.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic06.jpg' alt='')
                  header
                    h3 Etiam nisl consequat
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                  footer
                    ul.actions
                      li
                        a.button.alt(href='#') Find out more
              .col-4.col-6-medium.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic07.jpg' alt='')
                  header
                    h3 Dolore nisl feugiat
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                  footer
                    ul.actions
                      li
                        a.button.alt(href='#') Find out more
        .col-12
          // Blog
          section
            header.major
              h2 The Blog
            .row
              .col-6.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic08.jpg' alt='')
                  header
                    h3 Magna tempus consequat
                    p Posted 45 minutes ago
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                  footer
                    ul.actions
                      li
                        a.button.icon.fa-file-text(href='#') Continue Reading
                      li
                        a.button.alt.icon.fa-comment(href='#') 33 comments
              .col-6.col-12-small
                section.box
                  a.image.featured(href='#')
                    img(src='images/pic09.jpg' alt='')
                  header
                    h3 Aptent veroeros aliquam
                    p Posted 45 minutes ago
                  p
                    | Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                  footer
                    ul.actions
                      li
                        a.button.icon.fa-file-text(href='#') Continue Reading
                      li
                        a.button.alt.icon.fa-comment(href='#') 33 comments
  // Footer
  section#footer
    .container
      .row
        .col-8.col-12-medium
          section
            header
              h2 Blandit nisl adipiscing
            ul.dates
              li
                span.date
                  | Jan 
                  strong 27
                h3
                  a(href='#') Lorem dolor sit amet veroeros
                p
                  | Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.
              li
                span.date
                  | Jan 
                  strong 23
                h3
                  a(href='#') Ipsum sed blandit nisl consequat
                p
                  | Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.
              li
                span.date
                  | Jan 
                  strong 15
                h3
                  a(href='#') Magna tempus lorem feugiat
                p
                  | Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.
              li
                span.date
                  | Jan 
                  strong 12
                h3
                  a(href='#') Dolore tempus ipsum feugiat nulla
                p
                  | Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.
              li
                span.date
                  | Jan 
                  strong 10
                h3
                  a(href='#') Blandit tempus aliquam?
                p
                  | Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.
        .col-4.col-12-medium
          section
            header
              h2 What&apos;s this all about?
            a.image.featured(href='#')
              img(src='images/pic10.jpg' alt='')
            p
              | This is 
              strong Dopetrope
              |  a free, fully responsive HTML5 site template by
              a(href='http://twitter.com/ajlkn') AJ
              |  for 
              a(href='http://html5up.net/') HTML5 UP
              |  It&apos;s released for free under
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;the 
              a(href='http://html5up.net/license/') Creative Commons Attribution
              |  license so feel free to use it for any personal or commercial project &ndash; just don&apos;t forget to credit us!
            footer
              ul.actions
                li
                  a.button(href='#') Find out more
        .col-4.col-6-medium.col-12-small
          section
            header
              h2 Tempus consequat
            ul.divided
              li
                a(href='#') Lorem ipsum dolor sit amet sit veroeros
              li
                a(href='#') Sed et blandit consequat sed tlorem blandit
              li
                a(href='#') Adipiscing feugiat phasellus sed tempus
              li
                a(href='#') Hendrerit tortor vitae mattis tempor sapien
              li
                a(href='#') Sem feugiat sapien id suscipit magna felis nec
              li
                a(href='#') Elit class aptent taciti sociosqu ad litora
        .col-4.col-6-medium.col-12-small
          section
            header
              h2 Ipsum et phasellus
            ul.divided
              li
                a(href='#') Lorem ipsum dolor sit amet sit veroeros
              li
                a(href='#') Sed et blandit consequat sed tlorem blandit
              li
                a(href='#') Adipiscing feugiat phasellus sed tempus
              li
                a(href='#') Hendrerit tortor vitae mattis tempor sapien
              li
                a(href='#') Sem feugiat sapien id suscipit magna felis nec
              li
                a(href='#') Elit class aptent taciti sociosqu ad litora
        .col-4.col-12-medium
          section
            header
              h2 Vitae tempor lorem
            ul.social
              li
                a.icon.fa-facebook(href='#')
                  span.label Facebook
              li
                a.icon.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.fa-dribbble(href='#')
                  span.label Dribbble
              li
                a.icon.fa-tumblr(href='#')
                  span.label Tumblr
              li
                a.icon.fa-linkedin(href='#')
                  span.label LinkedIn
            ul.contact
              li
                h3 Address
                p
                  | Untitled Incorporated
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1234 Somewhere Road Suite
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000-0000
              li
                h3 Mail
                p
                  a(href='#') someone@untitled.tld
              li
                h3 Phone
                p (800) 000-0000
        .col-12
          // Copyright
          #copyright
            ul.links
              li &copy; Untitled. All rights reserved.
              li
                | Design: 
                a(href='http://html5up.net') HTML5 UP
// Scripts
script(src='/js/jquery.min.js')
script(src='/js/jquery.dropotron.min.js')
script(src='/js/browser.min.js')
script(src='/js/breakpoints.min.js')
script(src='/js/util.js')
script(src='/js/main.js')
