extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Create Learner

  form(method='POST')
    .form-group
        label(class='font-weight-bold', for='forename') Forename
        input.form-control(type='text', name='forename', id='forename', autofocus=true)
    .form-group
        label(class='font-weight-bold', for='surname') Surname
        input.form-control(type='text', name='surname', id='surname')
    .form-group
        button.btn.btn-primary(type='submit')
            i.far.fa-save.fa-sm
            | Submit
